#createuser {
    width: 610px;
    margin: 70px;
    padding: 5px 20px !important;
    margin-left: 380px;
    border-style: outset;
   
  }
  
  .createUser_title {
    color: blue;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
 #createuser_btn{
    left: 487px
} 
#createuser_name{
    width: 473px;
    left:   27px
}
#createuser_password{
   width: 425px;
    left:-5px
}
#createuser_email{
    width: 473px;
    left:29px
}
#createuser_phone{
    width: 473px;
    left:22px
}   
#createuser_pin{
    width: 474px;
    left:44px
}
.mainBody{
    border-top: 0.01px solid silver;
}