#sendhistory {
    width: 600px;
    margin: 90px;
    padding: 20px;
    margin-left: 380px;
   margin-top: 40px;
  }
  .sendHistory_title {
    color: blue;
    font-size: 25px;
    margin-bottom: 20px;
  }
#sendhistory_stk{
    width: 410px;
    left:   1px
}
#sendhistory_btn{
    top: -55px;
    left: 487px;
}
.hide{
   display:none
}
.show{
        display:block ;
}
#senderListHistory{
    width:700px;
    margin-left: -40px;
    margin-top: 40px;
}